{{#if addNewQuestion}}
  <h1 id="newQuestionHeader">New Question</h1>
  <div>
    <form>
      <div class="form-group">
        {{input class="form-control" value=name id="name" placeholder="Enter A Name"}}
      </div>

      <div class="form-group">
        {{input class="form-control" value=question id="question" placeholder="Ask A Question"}}
      </div>

      <!-- <div class="form-group">
        {{input class="form-control" value=notes id="notes" placeholder="Notes"}}
      </div> -->
      <div class="text-center">
        <button class="btn btn-success" {{action 'saveQuestion'}}>Save</button>
      </div>
    </form>
  </div>
{{else}}
<div id="newQuestion">
  <button class="btn btn-success" {{action 'questionFormShow'}}>New Question</button>
</div>
{{/if}}
