<li id="questionTileLI">
  <p>{{#link-to 'question' question.id}}{{question.question}}{{/link-to}} - Asked by {{question.name}} on {{format-Date question.time}}</p>
  <!-- {{update-question question=question update="update"}} -->
  <button class="btn btn-danger" {{action 'delete' question}}>Delete</button>
</li>
