{{#if updateQuestionForm}}
  <h4>Update {{question.name}}'s {{question.question}}</h4>
  <div>
    <form>
      <div class="form-control">
        <label for="name">Name</label>
        {{input value=name id="name" placeholder=model.name}}
      </div>

      <div class="form-control">
        <label for="question">Question</label>
        {{input value=question id="question" placeholder=model.question}}
      </div>

      <div class="form-control">
        <label for="notes">Notes</label>
        {{input value=notes id="notes" placeholder=model.notes}}
      </div>

      <button {{action 'update' model}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm' model}}>Update</button>
{{/if}}
