{{#if updateQuestionForm}}

  <div>
    <form>
        {{input class="form-control" value=name id="name" placeholder=model.name}}
        <br>
        {{input class="form-control" value=question id="question" placeholder=model.question}}

      <!-- <div class="form-control">
        {{input value=notes id="notes" placeholder=model.notes}}
      </div> -->
    </form>
    <br>
    <button class="btn btn-success" {{action 'update' model}}>Save</button>
    <br>
  </div>
{{else}}
  <br>
  <button class="btn btn-danger" {{action 'updateQuestionForm' model}}>Update</button>
{{/if}}
