{{outlet}}

<div class="container">

  <h2>More information about {{model.name}}'s {{model.question}}</h2>

  {{question-detail question=model}}
  {{update-question model=model update='update' delete='delete'}}
  {{answer-tile answer=answer updateAnswer='updateAnswer' deleteAnswer='deleteAnswer'}}
  {{new-answer model=model saveAnswer='saveAnswer'}}

  <div class="body">
    <ul>
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
    </ul>

    {{new-answer saveAnswer="saveAnswer"}}
  </div>

</div>

{{#link-to 'index'}}<button class="btn btn-default">Back</button>{{/link-to}}
