{{outlet}}

<div class="container">

  <h2>{{model.question}}</h2>

  {{question-detail question=model}}
  {{update-question model=model update='update' delete='delete'}}
  <!-- {{answer-tile answer=answer updateAnswer='updateAnswer' deleteAnswer='deleteAnswer'}} -->
  <!-- {{new-answer model=model saveAnswer='saveAnswer'}} -->
  {{new-answer saveAnswer="saveAnswer" question=model}}

  <div class="body">
    <ul>
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
    </ul>

  </div>

</div>

{{#link-to 'index'}}<button class="btn btn-default">Back</button>{{/link-to}}
